@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: "#222831";
  --secondary-color: "#1552F0";
  --white-primary: "#FAFBFC";
  --white-secondary: "#FFFFFF";
  --white-grey: "#F2F2F2";
  --grey: "#F2F2F2";
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
