@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #222831;
  --secondary-color: #1552F0;
  --white-primary: #FAFBFC;
  --white-secondary: #FFFFFF;
  --white-grey: #DEDEDE;
  --grey: #F2F2F2;
}

body{
  background-color: var(--white-secondary);
}

input:focus {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}